
.currency-converter{
    width: 50%;  margin:60px auto; border: 1px solid rgb(216, 212, 212); padding:20px; box-shadow: 1px 1px 45px 1px rgb(186, 184, 184);
} 
select{
    margin-bottom: 20px;
}

@media (max-width:650px){
    .currency-converter{
        width: 80%;
    }
}


@media (max-width:400px){
    .currency-converter{
        width: 100%;
    }
}